.hero-contato {
  background: url("https://picsum.photos/1600/500?grayscale") center/cover
    no-repeat;
  min-height: 50vh;
  display: flex;
  align-items: center;
  color: white;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 3rem;
}

.icon-box {
  font-size: 1.5rem;
  color: #0d6efd;
}
